# Dependencies
node_modules/
client/node_modules/
server/node_modules/ # Add this if your server might have its own node_modules

# Environment variables - DO NOT COMMIT
.env
client/.env
server/.env

# Production build artifacts
client/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional macOS folder
.DS_Store